@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    background: #FFF5E0;
    color: #141E46;
    margin: 0%;
}

/*.unsplash {
    width: 700px;
    height: 500px;
    left: 400px;
    top: 964px;
    
    background: url(.jpg), #FFF5E0;
    border-radius: 4px;
}

.unsplash1 {
    width: 612px;
    height: 888px;
    left: 732px;
    top: 1102px;

    background: url(.jpg), #292929;
    border-radius: 4px;
}

.unsplash2 {
    width: 612px;
    height: 888px;
    left: 96px;
    top: 1876px;
    
    background: url(.jpg), #292929;
    border-radius: 4px;
} */

/*  шапка  */
header {
    padding-top: 29px;
    padding-bottom: 20px;
    background-color:  #8DECB4;
    backdrop-filter: blur(10px);
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0%;
}

.headerInner {
    display: flex;
    justify-content: space-between;
    padding:0 10%;
}

.name img {
    width: 46px;
    height: 32px;
    margin-right: 17px;
}

.name {
    left: 17px;
    font-family: 'Roboto';
    font-style: medium;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: -0.5px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav {
    width: 30%;
}

ul {
    display: flex;
    justify-content: space-between;
}

li {
    list-style: none;
    margin-inline: 16px;
}

a {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: medium;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    letter-spacing: -0.5px;

    color: #41B06E;
}

a:hover {
    color: #141E46;
}

a:active {
    font-weight: 700;
    font-size: 18px;
}




/*подвал*/

footer {
    border-top: 1px solid #141E46;
    backdrop-filter: blur(10px);
    background-color: #141E46;
}

.footerInner {
    /*padding: 50px 10%;*/
    font-family: 'Roboto';
    font-style: medium;
    font-weight: 700;
    font-size: 16px;
    line-height: 36px;
    /* identical to box height, or 225% */

    letter-spacing: -0.5px;

    color: #141E46;
    padding-top: 48px;
    padding-bottom: 36px;
}

.footerInner span {
    color: #ECECEC;
}

.contact img {
    width: 22px;
    height: 22px;
    padding-top: 49px;
    margin-left: 17px;
}


/*main*/
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10%;
}

.info img {
    padding-top: 100px;
    padding-bottom: 243px;
    padding-right: 100px;
}

.hi {
    width: 500px;
    height: 192px;
    font-family: 'Roboto';
    font-style: medium;
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    /* or 119% */

    letter-spacing: -0.5px;
    padding-bottom: 24px;
}

.hi2 {
    width: 400px;
    font-family: 'Roboto';
    font-style: medium;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    letter-spacing: -0.5px;

    color: #41B06E;
    padding-bottom: 104px;
}

.info button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 48px;
    gap: 16px;

    background: #41B06E;
    border-radius: 4px;

    width: 276px;
    height: 57px;
}

.info button p {
    width: 143px;
    height: 25px;
    
    font-family: 'Roboto';
    font-style: medium;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #141E46;
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.work {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    padding-left: 150px;
    gap: 32px;


    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */

    letter-spacing: 1.5px;
    text-transform: uppercase;

    color: #141E46;

    opacity: 0.7;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.menu-small {
    display: none;
}

.menu_small_icon {
    display: none;
}

.menu_item {
    margin-right: 1em;
    display: flex;
}

.menu_small_item {
    display: none;
}

.stick {
    width: 80%;
    height: 5px;
    background: rgb(33, 33, 33);
}


.visual_explorations {
    width: 322px;
    height: 46px;
    left: 559px;
    top: 3142px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.5px;

    color: #141E46;
}

.personal_projects {
    width: 295px;
    height: 46px;
    left: 573px;
    top: 4336px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.5px;

    color: #DEDEDE;
}

.version {
    width: 178px;
    height: 55px;
    left: 313px;
    top: 1380px;

    font-family: 'Roboto';
    font-style: medium;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    /* identical to box height */

    letter-spacing: -0.5px;

    color: #DEDEDE;
}

.contact_me {
    width: 198px;
    height: 46px;
    left: 620.5px;
    top: 5251px;

    font-family: 'Roboto';
    font-style: medium;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.5px;

    color: #DEDEDE;
}

.hi3 {
    width: 542px;
    height: 76px;
    left: 448px;
    top: 5324px;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    /* or 146% */

    text-align: center;
    letter-spacing: -0.5px;

    color: #959595;
}

.mail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 48px;
    gap: 16px;

    background: #9D9D9D;
    border-radius: 4px;

    width: 296.57px;
    height: 55px;
}

.mail button img {
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 0px;
}

.mail button p {
    width: 143px;
    height: 25px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #FFFFFF;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.info1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10%;
}
/*
@media (max-width: 768px) {
    .headerInnerv {
        display: none;
    }

    .name {
        padding-left: 10px;
    }

    .menu-small {
        display: flex;
        flex-direction: column;
        position-left: 0;
        height: 100%;
        width: 80%;
        padding: 0;
        background: black;
        transform: translateX(-100%);
    }

    .menu_small_item {
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu_small_icon {
        position: absolute;
        top: 1em;
        left: 1em;
        width: 50px;
        height: 50px;
        display: flex;
        z-index: 1;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .inner {
        padding-top: calc(50px + 2em);
    }

    .inner p {
        margin: 0
    }
} 
